@use 'assets/_mixin' as mixin;

#root {
  height: 100%;
  width: 100%;
}

.app {
  .md-editor {
    height: 100%;
  }

  .input-card {
    width: 60%;
    height: 70%;
    flex-shrink: 0;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    @include mixin.card(60%, 70%);
    .title {
      color: #fff;
      font-size: 29.829px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: center;
    }
    textarea {
      width: 100%;
      margin-top: 20px;
      background: transparent;
      text-align: left;
      height: calc(100% - 76px);
      padding: 10px 20px;
      border: 1px solid white;
      outline-color: white;
      font-size: 16px;
      border-radius: 10px;
      resize: none;
      font-weight: normal;
      line-height: 1.5;
      @extend .title;
      &:hover {
        cursor: url('/cursor-text.svg'), text;
      }
    }
  }

  .result-card {
    padding: 20px;
    @include mixin.card(min-content);
  }
}
