@import 'assets/reset.css';

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(235, 46, 125, 0.8) 0%, rgba(243, 58, 58, 0.8) 100%);
}

body {
  font-family: 'Inter Variable', sans-serif;
}

body:hover{
  cursor: url("/cursor.svg"),auto;
}